---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Sep 2024 - Act",
    title: "Desarrollador de Software − Comfama",
    description: "",
    link: "https://comfama.com"
  },
  {
    date: "Mar 2022 - Dic 2023",
    title: "Desarrollador Móvil − Grability",
    description:
    "Trabajé como desarrollador de aplicaciones móviles para Android e iOS. Las principales funciones son la corrección de errores y nuevos requisitos en la app de Supermercado El Corte Inglés.",
    link: "https://grability.com/",
  },
  {
    date: "Feb 2021 - Mar 2022",
    title: "Desarrollador Móvil - Alternova Inc",
    description:
      "Mi rol consistió en la creación de aplicaciones móviles en React Native. Desarrollé aplicaciones para promover la salud digital, cumpliendo con los estándares de los requisitos y monitoreándolos con Clickup.",
    link: "https://alternova.co"
    },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
